<% if @recipes %>
  <% @recipes.each do |recipe| %>
    <p>
      <!-- 表示項目追加予定 -->
      <%= link_to(recipe.title, "/recipes/#{recipe.id}") %></p>
    </p>
  <% end %>
<% end %>

<% if @ingredients %>
  <!-- find_byメソッドではなくwhereメソッドを使えばeach文を使わずに書けそう -->
  <% @ingredients.each do |ingredient| %>
    <% @recipe = Recipe.find_by(id: ingredient.recipe_id) %>
    <p>
      <!-- 表示項目追加予定 -->
      <%= link_to(@recipe.title, "/recipes/#{@recipe.id}") %></p>
    </p>
  <% end %>
<% end %>