// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* reset ================================ */
ul, li {
  list-style: none;
}


/* 共通レイアウト ================================ */

.container {
  width: 100%;
  padding-left: 35px;
  padding-right: 35px;
}

.title {
  text-align: center;
  padding: 20px 20px 40px 20px;
}

.title p {
  padding: 5px;
  text-decoration-line: underline;
  text-decoration-color: #AAC51B;
}

.back {
  margin-bottom: 15px;
  margin-left: -25px;
  padding: 5px;
}

.flash {
  padding: 10px 0;
  color: white;
  background: rgb(255, 150, 0);
  text-align: center;
  position: absolute;
  top: 0px;
  z-index: 10;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
}


/* ヘッダー ================================ */

*{
  box-sizing: border-box;
}

header {
  height: 50%;
  width: 100%;
}

.header-logo {
  padding: 15px;
}

.header-logo-left {
  float: left;

}

.header-logo-right {
  float: left;
  font-size: 2vw;
}

.header-image img {
  width: 100%;
}

.header-menus {
  padding: 10px;
  height: 40px;
}

.header-menus li{
  width: 25%;
  float: left;
  text-align: center;
  font-size: 3.5vw;
}

/* トップ画面 ================================ */

.search-boxes {

}

.search-box {
  margin-bottom: 30px;
}

.search-box p {
  margin-bottom: 5px;
}

.search-window {
  border: #BBBBBB solid 2px;
  width: 80%;
  padding: 12px;
  border-radius: 10px;
}

.search-by-category {
  border: #BBBBBB solid 2px;
  padding: 12px;
  border-radius: 10px;
}

.search-by-category li {
  width: 50%;
  float: left;
  margin-bottom: 15px;
}

.submit-button {
  text-align: center;
}

/* 検索結果画面 ================================ */

.search-results-category {
  margin: 30px 0;
}


