
.fa {
  font-size: 16px;
  margin-right: 3px;
}

.like-btn {
  color: #8899a6;
}

.like-btn-unlike {
  color: #ff2581;
}

/* ランキング表示 ================================ */

.ranking-wrapper {
  background-image: url("/background-image-1.png");
  background-size: 17%;
}

.ranked-recipes {
  width: 100%;
}

.ranked-recipe {
  text-align: center;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.ranking-flag {
  max-width: 30%;
  margin-left: 15px;
  margin-right: 110px;
}


.ranked-recipe-image {
  max-width: 100%;
  border-radius:15px;
}

.ranked-recipe-title {
  margin: 10px 30px;
  line-height: 150%;
  font-size: 6vw;
}

.ranked-recipe-comment {
  font-size: 4vw;
  padding: 10px 0 20px 0;
}

.ranked-recipe-user-minutes {
  padding: 10px 10px;
  height: 100px;
}

.ranked-recipe-user {
  width: 70%;
  float: left;
  text-align: left;
}

.ranked-recipe-minutes {
  float: right;
  border: #BBBBBB solid 1px;
  background-color: white;
  padding: 10px;
  border-radius: 100%;
}

/* レシピ投稿 ================================ */

.new-recipe-wrapper {
  margin-bottom: 30px;
}

.title-window {
  border: #BBBBBB solid 1px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0 30px 0;
}

.img-window {
  border: #BBBBBB solid 1px;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  margin: 10px 0 30px 0;
  height: 80vw;
}



.ingredients-item {
  text-align: center;
}

.ingredients-item label {
  width: 38%;
  float: left;
}

.ingredients {
  display: inline-block;
  margin: 20px 0 50px 0;
}

.ingredient-windows {
  display: inline-block;
  margin-top: 10px;
}

.ingredient-window {
  width: 59%;
  float: left;
  margin-right: 2px;
  border: #BBBBBB solid 1px;
  border-radius: 5px;
  height: 10vw;
  padding: 1px;
}


.quantity-window {
  width: 39%;
  float: left;
  margin-right: 2px;
  border: #BBBBBB solid 1px;
  border-radius: 5px;
  height: 10vw;
  padding: 1px;
}

.add1 {
  width: 10%;
  float: right;
  margin-right: 2px;
  border: #BBBBBB solid 1px;
  border-radius: 5px;
  padding: 2px;
}

.del1 {
  width: 10%;
  float: left;
  margin-right: 2px;
  border: #BBBBBB solid 1px;
  border-radius: 5px;
  padding: 2px;
}

.minutes {
  margin: 10px 0 10px 0;
  float: right;
}

.minutes label {
  float: left;
  margin-right: 20px;
}

.minutes input {
  width: 15vw;
  float: left;
  margin-right: 3px;
  border: #BBBBBB solid 1px;
  border-radius: 5px;
}

.steps {
  display: inline-block;
  margin: 20px 0 50px 0;
}


.steps-item {
  text-align: center;
}

.steps-item label {
  width: 38%;
  float: left;
}

.step-windows {
  display: inline-block;
  margin: 10px 0 1px 0;
}

.step-window {
  width: 70%;
  float: left;
  margin-right: 2px;
  border: #BBBBBB solid 1px;
  border-radius: 5px;
  height: 30vw;
  padding: 1px;
}


.step-image-window {
  width: 25%;
  margin-right: 2px;
  border: #BBBBBB solid 1px;
  border-radius: 5px;
  height: 20vw;
  padding: 1px;
}

.add2 {
  width: 10%;
  float: right;
  margin-right: 2px;
  border: #BBBBBB solid 1px;
  border-radius: 5px;
  padding: 2px;
}

.del2 {
  width: 10%;
  float: left;
  margin-right: 2px;
  border: #BBBBBB solid 1px;
  border-radius: 5px;
  padding: 2px;
}

.select-category-box {
  margin-bottom: 30px;
}

.select-category-box p {
  margin-bottom: 5px;
}


.select-category {
  border: #BBBBBB solid 1px;
  padding: 12px;
  border-radius: 10px;
  display: inline-block;
}

.select-category li {
  width: 50%;
  float: left;
  margin-bottom: 15px;
}

.comment {
  border: #BBBBBB solid 1px;
  padding: 12px;
  border-radius: 10px;
  display: inline-block;
  width: 100%;
}

.recipe-submit {
  background-color: #FF9600;
  color: white;
  border: none;
  border-radius: 5px;
}

.recipe-detail-wrapper{
  margin: 50px 0;
}

.recipe-detail-heading h2 {
  text-align: center;
  font-size: 25px;
  clear: both;
}

.recipe-detail-heading p {
  margin: 20px 0;
}

.detail-recipe-user {
  width: 70%;
  float: left;
  text-align: left;
}

.detail-recipe-minutes {
  float: right;
  border: #BBBBBB solid 1px;
  background-color: white;
  padding: 10px;
  border-radius: 100%;
}

.detail-image {
  width: 100%;
  border-radius: 15px;
}

.detail-ingredients {
  width: 100%;
  margin: 50px 0;
}

.detail-ingredient {
  clear: both;
  border-bottom: #BBBBBB solid 1px;
  padding-top: 15px;
  height: 40px;
  font-size: 20px;
}

.detail-ingredient-name {
  float: left;
}

.detail-ingredient-quantity {
  float: right;
}

.detail-step {
  margin-top: 30px;
}

.detail-step img {
  width: 100%;
  border-radius: 15px;
}

.detail-comment {
  margin: 50px 0;
}

.detail-comment p {
  margin-top: 10px;
}




