.fa {
  font-size: 16px;
  margin-right: 3px;
}

.like-btn {
  color: #8899a6;
}

.like-btn-unlike {
  color: #ff2581;
}

.ranking-wrapper {
  background-image: url("/background-image-1.png");
  background-size: 17%;
}

.ranked-recipes {
  width: 100%;
}

.ranked-recipe {
  text-align: center;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.ranking-flag {
  max-width: 30%;
  margin-left: 15px;
  margin-right: 110px;
}


.ranked-recipe-image {
  max-width: 100%;
  border-radius:15px;
}

.ranked-recipe-title {
  margin: 10px 30px;
  line-height: 150%;
  font-size: 6vw;
}

.ranked-recipe-comment {
  font-size: 4vw;
  padding: 10px 0 20px 0;
}

.ranked-recipe-user-minutes {
  padding: 10px 10px;
  height: 100px;
}

.ranked-recipe-user {
  width: 70%;
  float: left;
  text-align: left;
}

.ranked-recipe-minutes {
  float: right;
  border: #BBBBBB solid 1px;
  background-color: white;
  padding: 10px;
  border-radius: 100%;
}



