// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* マイページ ================================ */

.my-profile {
  margin-top: 30px;
}

.my-profile img {
  width: 30%;
  border: #AAC51B solid 4px;
  border-radius: 100%;
}

.edit-profile {
  float: right;
  font-size: 12px;
}

.edit-profile-button {
  background-color: #FF9600;
  padding: 10px;
  border-radius: 15px;
  color: white;
  margin: 5px;
}

.logout-button {
  background-color: #BBBBBB;
  padding: 10px;
  border-radius: 15px;
  color: white;
  margin: 5px;
  width: 60%;
}


.my-info {
  width: 40%;
  float: left;
  line-height: 130%;
}

.sns-icons {
  width: 60%;
  float: right;
}

.my-intro {
  float: left;
  margin-top: 30px;
}

.user-tabs {
  margin-top: 60px;
  margin-bottom: 40px;
  padding: 15px;
}

.user-tabs li {
  float: left;
  display: inline-block;
  padding: 5px;
  margin-right: 10px;
}

.user-tabs-left {
  background-color: #AAC51B;
  color: white;
  border-radius: 5px;
}

.user-tabs-right {
  background-color: #AAC51B;
  color: white;
  border-radius: 5px;
}


.clear {
  clear: both;
}

.my-recipes-wrapper {
  background-image: url("/background-image-2.png");
}

.my-recipe {
  width: 50%;
  float: left;
  padding: 15px;
  text-align: center;
}

.my-recipe img {
  width: 100%;
  border-radius: 7.5px;
}

.my-recipe-title {
  margin: 10px 0 5px 0;
  font-size: 15px;
}

.my-recipe-minutes {
  float: right;
  border: #BBBBBB solid 1px;
  background-color: white;
  padding: 5px;
  font-size: 2px;
  border-radius: 100%;
}

/* マイページ編集 ================================ */

.edit-prof-wrapper {
  margin-top: 30px;
}

.edit-prof-wrapper p {
  margin-top: 10px;
}

.edit-prof-wrapper input, textarea {
  border: #BBBBBB solid 1px;
  border-radius: 5px;
}

.edit-prof-image {
  width: 100%;
}

.edit-submit {
  background-color: #FF9600;
  color: white;
  border: none;
  border-radius: 5px;
}






